.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-frame {
  border: 2px solid black;
  height: 90vh;
  width: 100vw;
}

#map {
  height: 90vh;
  width: 100vw;
}

leaflet-popup-content .test {
  color: black;
  font-size: 300px;
}